
%link{:href => "../../assets/images/favicon.ico", :rel => "shortcut icon"}
/ Global CSS
= stylesheet_link_tag 'bootstrap.min.css'
/ Plugins CSS
= stylesheet_link_tag 'font-awesome.css'
/ github acitivity css
= stylesheet_link_tag 'github-activity.css'
/ Theme CSS
= stylesheet_link_tag 'styles.css'

%header.header
  .container
    / %img.profile-image.img-responsive.pull-left{:alt => "Saurabh Chavhan", :src => "../../assets/images/profile.png"}/
    =image_tag "profile3.png", class: 'profile-image img-responsive pull-left'
    .profile-content.pull-left
      %h1.name Saurabh Chavhan
      %h2.desc Graduate Student at Syracuse University
      %h2.desc (Software Engineer)
      %ul.social.list-inline
        / <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        / <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        %li
          %a{:href => "https://www.linkedin.com/in/saurabh-chavhan/"}
            %i.fa.fa-linkedin
        %li
          %a{:href => "https://github.com/guinex"}
            %i.fa.fa-github-alt
        / %li
        /   %a{:href => "https://www.facebook.com/guinex18"}
        /     %i.fa.fa-facebook

.container.sections-wrapper
  .row
    .primary.col-md-8.col-sm-12.col-xs-12
      %section.about.section
        .section-inner
          %h2.heading About Me!
          .content
            %p Graduate student at Syracuse University pursuing masters in Computer Science.
            %p 
              I have been a Software Engineer for over 2.5+ years during which I have worked with 3 companies. Currently, I am working with Chess-group (Procurem.io) as a part of Co-op at Syracuse University, where I handle 2 major projects Chess-Erp, Inventory System and Procurem, Supply Management framework. Before this, I was working with Mirraw, one of the largest e-Commerce business in India. My core responsibilities were to design Rest-APIs, maintaining and optimizing legacy codebase, and developing new features for the marketing and sales team. As a Software Engineer L1, at Mirraw I have been a part of teams like Growth team and Marketing Dev team. But the most challenging experience was working as the head of the CRO team where we worked towards optimizing e-commerce conversion ratio and revenue growth. It was during this time I worked on the most impressive projects of my career, like the A/B testing framework, Dynamic Pricing, and Reverse Image Search.
            %p
              I have also worked in an IIT-Bombay startup as an Intern. I am into new technology since then and I cannot remember a time when I wasn`t coding in my free time and if I was not, then I was in front of my Xbox.
            %p
              I am dedicatedly trying to learn new things in the field of Artificial Intelligence, Cyber Security, Data Mining which I believe would be a great addition to my skill-set. I am actively looking for opportunities as a Full-Time Software Engineer where I can demonstrate my skills and learn at the time same time. Please feel free to contact me.
          / %section.about.section
          /   .section-inner
          /     %h2.heading Courses
          /     .content
          /       %strong Syracuse University
          /       %p
          /         %span.label-course Operating System
          /         %span.label-course Artificial neural Networks
          /         %span.label-course Analytical Data Mining
          /         %span.label-course Evolutionary Machine Learning
          /         %span.label-course Internet Security
          /         %span.label-course Social Media and Data Mining
          /         %span.label-course Design and Analysis of Algorithm
          /         %span.label-course Structural Programming and Formal Methods
          /         %span.label-course Database Management System
          / %strong Udemy
          / %p
          /   %span.label-course
          /     ='Machine Learning A-Z™: Hands-On Python & R In Data Science'
          /   %p
          /   %span.label-course
          /     ='Deep Learning A-Z™: Hands-On Artificial Neural Networks'


      %section.experience.section
        .section-inner
          %h2.heading Work Experience
          .content
            .item
              %h3.title
                Software Engineer Intern -
                %span.place
                  %a{:href => "https://www.procurem.io/", target: "_blank"} Procurem.io
                %span.year (May 2019 - Present)
              %p Working as an intern I have build and designed inventory management system that keeps track of all the parts, purchase orders, sales orders with availability and shipping details of their line items. System also maintains account ledger and sales information.

              %p Procurem is another project that I worked on. In this project I designed and restructured backend and API framework to improvise response time from 1.2s to 400ms.
              Integrated Stripe so customers can select a plan for API usage. Customers can add credit cards via procurem.io page or   select from multiple cards.
              Created an alert and notification system to improvise data analytics for customers.
              Built a survey module for organizations, suppliers, and customers.

            .item
              %h3.title
                Software Engineer -
                %span.place
                  %a{:href => "https://www.mirraw.com/", target: "_blank"} Mirraw
                %span.year (June 2016 - June 2018)
              %p Worked with development team of 20 members to create and integrate highly optimized solutions by following agile, test-driven development methodology.
              %p Collaborated in team-oriented environments, working cohesively and successfully with multiple individuals in projects related to revenue growth, marketing, and customer retention.
              %p Initiated efforts to migrate legacy applications to Rails 4 platform.
              %p Designed software interfaces that proved user-friendly and simplified overall management.
              %p Optimized system performance by making proactive adjustments and resolving bugs.
              %p Participated in team meetings with Team Lead and Project Managers and provided input on expected deadlines, designs, and enhancements.
              %p Implemented new payment APIs for company-wide deployment, including PayPal (and PayPal Express checkout) and RazorPay.
              %p Delivered Reverse Image Search Algorithm in Ruby consistent with the roadmap, release plan milestones and key performance indicators, this feature helped in identifying over 70,000 products as duplicate inventory.
              %p For cost-saving and conversion rate optimization designed customized A/B Testing framework (like Google Optimize) for producing various versions of product catalog page, increasing average session duration time by 13% and E-Commerce conversion rate by 2%.
              %p Implemented a survey system to estimate the Net Promoter Score, project helped in gathering customer feedback and calculating the Order Defect Rate to improve stitching, delivery, quality of products.
              %p Implemented Mirraw Wallet, an online wallet for website users which can be used to give cash back, loyalty points, sign-up bonus, referral points.
              %p Reduced the load time of pages with intense user activity by reducing Database queries and js rendering with improved code quality.
            .item
              %h3.title
                Web Developer Intern -
                %span.place
                  %a{:href => "#"} Knit - IIT Bombay
                %span.year (April 2015 - May 2015)
              %p Developed a Web app that helps teachers to communicate with Parents and students by creating classrooms.
              %p Created JavaScript API`s to supports mobile platforms(Android/ iOS) and web apps.
              %p Managed development and deployment of Backend JavaScript cloud code to parse.com.
      %section.projects.section
        .section-inner
          %h2.heading Projects
          .content
            .item{style: "margin-top: 60px;"}
              %h3.title
                %a{:href => "#"} Stylometry-Prediction
                %span.label.label-theme Open Source
              %p.summary Authorship prediction by building a 2-D convolutional neural network and associate errors to the author of the code. Used token based N-gram approach to detect signature from the source code. Second part of the project identifies an author with known errors. View github for more information.
              %a.more-link{:href => "https://guinex.github.io/Stylometry-Prediction/", :target => "_blank", style: "float: left; margin-right: 20px; "}
                %i.fa.fa-external-link
                Read More
              %a.more-link{:href => "https://github.com/guinex/Stylometry-Prediction", :target => "_blank", style: "float:left;"}
                %i.fa.fa-external-link
                View on GitHub

            .item{style: "margin-top: 60px;"}
              %h3.title
                %a{:href => "#"} FirePong
                %span.label.label-theme Open Source
              %p.summary Trained an Artificially Intelligent Opponent for Ping Pong using Genetic Algorithm, Nature Inspired Firefly algorithms and compared results.
              %a.more-link{:href => "https://guinex.github.io/FirePong/", :target => "_blank", style: "float: left; margin-right: 20px; "}
                %i.fa.fa-external-link
                Read More
              %a.more-link{:href => "https://github.com/guinex/FirePong/", :target => "_blank", style: "float: left; margin-right: 20px; "}
                %i.fa.fa-external-link
                View on GitHub

            .item{style: "margin-top: 60px;"}
              %h3.title
                %a{:href => "https://github.com/guinex/twitter-analytics"} Follower Prediction Twitter
                %span.label.label-theme Open Source
              %p.summary System predicts whether a new twitter handle will follow certian celebrities. Data consists of 10 celebrities, their 100 recent tweets and ids of all followers, and 100 recent tweets followers. Prediction is done in 2 ways, first is using the logistic regression we check if followers of the celebrities (who fall are in same category) are more likely to follow other celebrities (of that same category) or not. Second is to check whether a new twitter handle share the same interest as the celebrities or not.
              %p Used logistic regression to check whether a new Twitter handle will follow the selected celebrities or not.
              %p Generated a classification model using Multinomial Naive Bayes to check if the new twitter handle has the same interest as the celebrities. Sample data provided to this model was top 100 recent tweets of the celebrities, of their followers and tweets of the new twitter handle.

              %a.more-link{:href => "https://github.com/guinex/twitter-analytics", :target => "_blank"}
                %i.fa.fa-external-link
                View on Github
            .item{style: "margin-top: 60px;"}
              %h3.title
                %a{:href => "#"} Digital Checkout System for Shopping Marts
                %span.label.label-theme.archived Archived
              %p.summary
                Digitalized the process purchasing products from marts which save customer`s time and makes the purchasing process easy. It is a Mobile application in PhoneGap using HTML, CSS, and JavaScript, using the application user can scan products to add it in a cart and can pay invoices without standing in the queue.
              %p Applied Market Basket Analysis to generate recommendations for users.
              %p Predicted purchase pattern of customers by Data Mining the user-generated data.
              %a.more-link{:href => "https://github.com/guinex/one-touch-billing-system", :target => "_blank"}
                %i.fa.fa-external-link
                View on GitHub



      %section.github.section
        .section-inner
          %h2.heading My GitHub
          #ghfeed.ghfeed
    .secondary.col-md-4.col-sm-12.col-xs-12
      %aside.education.aside.section
        .section-inner
          %h2.heading Education
          .content
            .item
              %h3.title
                %i.fa.fa-graduation-cap
                M.S in Computer Science
              %h4.university
                Syracuse University | GPA: 3.6
                %span.year  (2018-2020)
            / //item
            .item
              %h3.title
                %i.fa.fa-graduation-cap
                B.E in Information Technology
              %h4.university
                University of Mumbai | GPA: 3.53
                %span.year  (2012-2016)
      %aside.info.aside.section
        .section-inner
          %h2.heading.sr-only Basic Information
          .content
            %ul.list-unstyled
              %li
                %i.fa.fa-map-marker
                = succeed "Syracuse, NY " do
                  %span.sr-only Location:
              %li
                %i.fa.fa-envelope-o
                %span.sr-only Email:
                %a{href: "mailto:sachavha@syr.edu?body = Hello Saurabh,"} sachavha@syr.edu

              %li
                %i.fa.fa-link
                %span.sr-only View Resume:
                %a{:href => "#{ENV['PORTFOLIO_URL']}"} View Resume

      =render partial: 'skills', locals:{_values: SKILLS, _name: 'Skills'}
      =render partial: 'skills', locals:{_values: COURSES, _name: 'Courses'}
      =render partial: 'skills', locals:{_values: TECHNOLOGIES, _name: 'Technologies'}

      %aside.testimonials.aside.section
        .section-inner
          %h2.heading Testimonials
          .content
            .item
              %blockquote.quote
                %p
                  %i.fa.fa-quote-left>
                  Saurabh is an amazing software developer. His creative ideas and research skills are what sets him apart, He was trusted with many important projects because of this reason. He never turned down a challenging task and his work was always up to the mark. His knowledge and understanding of the concepts of Object Oriented Programming is remarkable, he also has very good problem-solving skill.
              %p.source
                %span.name Devilal Dheer
                %br/
                %span.title Technical Team Lead (Mirraw)
            .item
              %blockquote.quote
                %p
                  %i.fa.fa-quote-left>
                  I had the opportunity of working with saurabh for 2 years at Mirraw. He started as a junior and i had to mentor him throughout his training period. I observed that he is such a quick learner and could easily juggle multiple projects. We could always trust him for coming up with a solution for any rare development feature as well. Trying out new technologies and his craving for learning new things are the two best qualities that stood out and impressed me particularly.
              %p.source
                %span.name Harshal Jaitpal
                %br/
                %span.title Software Developer (Mirraw)
            .item
              %blockquote.quote
                %p
                  %i.fa.fa-quote-left>
                  Saurabh is hard working and has excellent web development skills. Inspite of being a fresher in the industry he was able to understand our system in a relatively short period of time and completed all his work diligently and on time. He also did a commendable work on javascript API's and UI.
              %p.source
                %span.name Dhanesh Kumar
                %br/
                %span.title Co-Founder & CTO at Kyte (YC S18)
            %p
              %a.more-link{:href => "https://www.linkedin.com/in/saurabh-chavhan/"}
                %i.fa.fa-external-link
                View on Linkedin


      / %aside.languages.aside.section
      /   .section-inner
      /     %h2.heading Languages
      /     .content
      /       %ul.list-unstyled
      /         %li.item
      /           %span.title
      /             %strong English:
      /           %span.level
      /             Professional Proficiency
      /             %br.visible-sm.visible-xs/
      /             %i.fa.fa-star
      /             %i.fa.fa-star
      /             %i.fa.fa-star
      /             %i.fa.fa-star
      /             %i.fa.fa-star
      /         %li.item
      /           %span.title
      /             %strong Hindi:
      /           %span.level
      /             Native Speaker
      /             %br.visible-xs/
      /             %i.fa.fa-star
      /             %i.fa.fa-star
      /             %i.fa.fa-star
      /             %i.fa.fa-star
      /             %i.fa.fa-star
      /         %li.item
      /           %span.title
      /             %strong Spanish:
      /           %span.level
      /             Elementary Proficiency
      /             %br.visible-sm.visible-xs/
      /             %i.fa.fa-star
      /             %i.fa.fa-star
      /             %i.fa.fa-star-half
      %aside.list.conferences.aside.section
        .section-inner
          %h2.heading Awards and Leadership
          .content
            %ul.list-unstyled
              %li
                %i.fa.fa-calendar
                Mentored and supervised 4 junior developers across multiple projects.
                %span
                  %a{:href => "#"} (Mirraw)
              %li
                %i.fa.fa-calendar
                Won Web Development Competition (Weave The Web) Organized by V.E.S Institute of Technology.
                %span
                  %a{:href => "#"} (Mumbai)
              %li
                %i.fa.fa-calendar
                Organized Java Workshop, Cloud Computing Seminar during Bachelor’s Degree.
                %span
                  %a{:href => "#"} (V.I.T Mumbai)
/ ******FOOTER******
/ Javascript
=javascript_include_tag  'jquery-1.11.1.min.js'
=javascript_include_tag  'jquery-migrate-1.2.1.min.js'
=javascript_include_tag  'bootstrap.min.js'
=javascript_include_tag  'jquery.rss.min.js'
/ github activity plugin
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js", :type => "text/javascript"}
=javascript_include_tag  'github-activity.js'

/ custom js
=javascript_include_tag  'main.js'
