!!!
%html
	%head
		%meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
		%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
		-description = @intro.description.to_s + " " + @education.description.to_s + " " + @employment.description.to_s + " " + @skills.description.to_s
		-keywords = @intro.keyword.to_s + " "+ @education.keyword.to_s + " "+ @employment.keyword.to_s + " "+ @skills.keyword.to_s
		%meta{:content => "#{description}", :name => "description"}/
		%meta{:content => "#{keywords}", :name => "keywords"}/
		%meta{:content => "Saurabh Chavhan", :name => "author"}/

		%title Saurabh Chavhan
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
		%link{:href => "http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic", :rel => "stylesheet", :type => "text/css"}/
		%link{:href => "http://fonts.googleapis.com/css?family=Montserrat:400,700", :rel => "stylesheet", :type => "text/css"}/
		%link{:href => "https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", :rel => "stylesheet"}/
		%link{:href => "../../assets/images/favicon.ico", :rel => "shortcut icon"}
		= stylesheet_link_tag 'bootstrap.min.css'
		/= stylesheet_link_tag 'font-awesome.css'
		= stylesheet_link_tag 'github-activity.css'
		= stylesheet_link_tag 'styles.css'

	%body
		= yield